/* General CSS */
:root{
  --bg: #000000;
  --primary: #23a5cd;
  --primary-accent: #5ec4e4;
  --secondary: #05191f;
  --secondary-accent: ;
  --text-color: #dadce1;
  --speed: 500ms;
}
body{
  background-color: var(--bg);
  padding: 0;
  margin: 0;
  width: 100%;
}
p{
  color: var(--text-color);
  margin: 0;
}
ul{
  list-style: none;
  margin: 0;
  padding: 0;
}
a{
  color: var(--text-color);
  text-decoration: none;
}
/* REMINDER: Develop a functioning navbar that appears after scrolling past searchbar in the header */
/* Header Content */
.header-container{
  background-color: transparent;
  border-style: none;
  padding: 24vh 0 37vh 0;
}
/* Logo + Site Description */
.header-container .logo-container{
  display: flex;
  justify-content: center;
}
.header-container .logo-container .logo{
  height: 15vh;
  padding: auto;
}
.header-container .site-description{
  display: flex;
  justify-content: center;
  color: var(--text-color);
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 1.5rem;
  text-overflow: inherit;
  margin: 3vh 0 12vh 0;
}
/* Filter + Searchbar */
.header-container .search{
  display: flex;
  justify-content: center;
}
.header-container .search .filter{
  min-width: 200px;
  max-width: auto;
  height: 3rem;
  text-align: center;
  font-size: 1.2rem;
  margin-right: 20px;
}

.header-container .search .filter option{
  background-color: var(--primary-accent);
  cursor: pointer;
}

.header-container .search .search-bar-container{
  display: inline-block;
  
}
.header-container .search .search-bar-container .search-bar{
  height: 3rem;
  width: 500px;
  text-align: left;
  font-size: 1.2rem;
}
/* Body Content */
/* Things to include:
- blocks of stat info from each platform supported on the site
  - Statistics of total users on each platform
  - total views in the history of each platform (maybe?) */
.body-container{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  grid-auto-rows: minmax(100px, auto);
  height: 100vh;
  border-style: none;
  padding: 15px;
}
.body-container .platform-wide-stats{
  background-color: rgba(var(--secondary), 0.5);

}
/* Footer Content REMINDER: MAKE THE FOOTER INTO A COMPONENT */
.footer-container{
  background-color: #00000089;
  height: 30vh;
  border-style: none;
}